{% extends "App/base.html" %} 
{% load static %}
{% block dynamicTitleHead %}
Editar Perfil
{% endblock %}
{% block dynamicTitle %}
<h1>Editar mi Perfil</h1>
{% endblock %}
{% block dynamicContent %}

<div style="background-color:  #f4f4f4; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); max-width: 400px; margin: 0 auto;">
    <form action="/accounts/editProfile" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <p>Usuario <span class="fw-normal">{{ request.user.username }}</span></p>
        </div>
        <div class="form-group">
            <label for="inputFirstName">Nombre</label>
            <input type="text" id="inputFirstName" name="first_name" class="form-control" value="{{ request.user.first_name}}" required>
        </div>
        <div class="form-group">
            <label for="inputLastName">Apellido</label>
            <input type="text" id="inputLastName" name="last_name" class="form-control" value="{{ request.user.last_name}}" required>
        </div>    
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" id="inputEmail" name="email" class="form-control" value="{{ request.user.email }}" required>
        </div>
        
        <button type="submit" class="btn btn-success">Realizar cambios</button>
    </form>
</div>

{% endblock %}