{% extends "App/base.html" %} 
{% load static %}
{% block dynamicTitleHead %}
Blog
{% endblock %}
{% block dynamicTitle %}
<h1>Blog</h1>
{% endblock %}

{% block dynamicContent %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <a href="/blog/createArticle" class="btn btn-success" role="button">Crear nuevo artículo</a>
        </div>
    </div>
    {% if articles %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {% for article in articles %}
                        <div class="card mt-4">
                            <div class="card-body">
                                <h2 class="card-title">{{article.titulo}}</h2>
                                <h5 class="card-subtitle mb-2 text-muted">{{article.subtitulo}}</h5>
                                <p class="card-text">{{article.contenido|striptags|safe|truncatewords:40}}</p>
                                <p class= "mb-2"><a href="/blog/article/{{article.id}}" class="card-link">Ver Más</a></p>
                                <p class="card-text"><small class="text-muted">Autor: {{article.autor}} - Fecha: {{article.fecha_creacion}}</small></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
